body {
  background: #eee;
}

.marketplace {
  display: flex;
  justify-content: center;
}

.card {
  align-items: center;
  background: white;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  margin: 0 8px;
  padding: 20px;
  width: 80px;
  height: 120px;
  transition: transform .25s, margin .25s;
  border: 3px solid transparent;
  cursor: pointer;

  &[data-selected='true'] {
    border: 3px solid red;
  }

  &:hover {
    margin-left: 20px;
    margin-right: 20px;
    transform: scale(1.5);
    z-index: 1;
  }
}

.my-cards {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: -20px;
  width: 100vw;

  .card {
    flex-shrink: 0;
    margin: 0 -15px;
    transform: rotate(8deg);

    &:hover {
      margin-left: 20px;
      margin-right: 20px;
      transform: scale(1.5);
      z-index: 1;
    }
  }
}

#my-camels {
  display: flex;
  background: white;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
}